<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">

<dom-module id="datamanager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-spinner active="{{cargando}}" class="thick"></paper-spinner>
    <h2>Hello [[prop1]]!</h2>
    <iron-ajax auto url="https://jsonplaceholder.typicode.com/users/1" handle-as="json" last-response="{{handleResponse}}"></iron-ajax>
    <h2>{{handleResponse.name}}</h2>
  </template>

  <script>
    /**
     * `datamanager-element`
     * elementos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElement extends Polymer.Element {
      static get is() { return 'datamanager-element'; }
      static get properties() {
        return {
          handleResponse:{
            type: Object,
            value: ()=> {
              return {}
            },
            observer: '_success'
          },
          prop1: {
            type: String,
            value: 'datamanager-element'
          },
          cargando:{
            type: Boolean,
            value: true
          }
        };
      }
      _success(e){
        this.cargando=false
        // debugger;
        // console.log("Succes")
        // console.log(e.name)
      }
    }

    window.customElements.define(DatamanagerElement.is, DatamanagerElement);
  </script>
</dom-module>
